body{
    margin:0;
    padding:0;
    background-color:#393E46;
}

.btn-lg{
    background-color: #D9D9D9;
    border-radius: 20px;
}

.fa-solid{
    font-size:200px;
    color:#393E46;
    margin-top:50%;
}

.active{
    width:20%;
    margin-top:2px;
    color:white;
}

.card{
    background-color: #D9D9D9;
    border-radius: 20px;
}

.dash{
    border:1px solid #393E46;
    border-style: dashed;
}

.buy-btn{
    color:white;
    border-radius: 20px;
    background-color: #393E46;
}